@import "vars";
// @import "libs";
@import "fonts";
@import "global";

.main {
  height: 100vh;
  background: url(../images/main-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.menu {
  display: flex;
  align-items: center;
  position: absolute;
  right: 45px;
  top: 55px;
}
.menu-item {
  font-size: 16px;
  cursor: pointer;
  position: relative;
  &+&{
    margin-left: 80px;
  }
}
.menu-box{
  position: absolute;
  cursor: default;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  padding: 16px;
  visibility: hidden;
  opacity: 0;
  .menu-item{
    margin-left: 0;
    a{
      display: flex;
      align-items: center;
    }
    img{
      width: 36px;
      margin-right: 10px;
    }
  }
  .menu-item + .menu-item{
    margin-top: 25px;
  }
}
.menu-item:hover .menu-box{
  visibility: visible;
  opacity: 1;
  top: 100%;
  transition: all 0.3s;
}
.main__social {
  position: absolute;
  bottom: 55px;
  left: 45px;
  img{
    width: 40px;
  }
}
.main__social-link {
  margin-left: 20px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}
.main__btn {
  padding: 40px 50px;
  background: rgba(196, 196, 196, 0.2);
  border: none;
  font-weight: 300;
  font-size: 27px;
  backdrop-filter: blur(4px);
  right: 45px;
  bottom: 55px;
  position: absolute
}

.section {
  max-width: 1200px;
  margin: 0 auto;
}
.page-title{
  font-size: 57px;
  line-height: 67px;
  color: #21BA27;
  text-align: center;
  &.amd{
    color: #F60E0E;
  }
}
.section__title {
  padding: 80px 0 55px;
  color: #21BA27;
  font-size: 38px;
  line-height: 45px; 
  text-align: center;
}
.section__text {
  font-size: 28px;
  line-height: 33px;
}
.section__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__box-text{
  font-size: 25px;
  line-height: 29px;
}
.section__item {
  width: 350px;
  height: 450px;
  background-color: #fff;
}
.section__item-image{
  width: 100%;
}
.section__item-title {
  padding: 16px 0 0 14px;
  font-size: 23px;
  line-height: 27px;
  color: #21BA27;
}
.section__item-text {
  font-size: 16px;
  line-height: 18px;
  padding: 16px 0 0 14px;
  color: #000;
}
.section__list {
  list-style: decimal;
  padding-left: 30px;
}
.section__list-item {
  font-size: 28px;
  line-height: 33px;
  &+&{
    padding-top: 15px;
  }
}
.section__video{
  margin: 80px 0;
}
.section__video{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
  }
}
.footer {
  max-width: 1200px;
  margin: 0 auto;
  border-top: 1px solid #FFFFFF;
  margin-top: 100px;
}
.footer__text {
  padding: 36px 0;
  font-size: 19px;
  line-height: 25px;
  text-align: center;
  color: #21BA27;
}



.products_Amd{
  .section{
    &:nth-child(even) .section__title{
      margin-left: auto;
    }
  }
  .page-title{
    padding: 60px 0;
    max-width: 1000px;
    margin: 0 auto;
    border-top: 1px solid #FEFEFE;
    border-bottom: 1px solid #FEFEFE;
  }
  .page-image{
    margin: 50px 0;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .section__box img{
    width: 550px;
  }
  .section__box-text{
    font-size: 32px;
    line-height: 40px;
  }
  .wrapper{
    max-width: 1600px;
    margin: 0 auto;
    border-top: 1px solid #FEFEFE;
  }
  .section__title{
    text-align: left;
    color: #FEFEFE;
    padding: 10px 20px;
    margin: 100px 0 70px;
    background: rgba(196, 196, 196, 0.1);
    max-width: max-content;
  }
  .section__list{
    list-style: disc;
  }
}

.news{
  .section{
    padding: 100px 0 70px;
  }
  .section__box {
    justify-content: left;
  }
  .section__box + .section__box{
    margin-top: 200px;
  }
  .section__box-right{
    position: relative;
    height: 370px;
    margin-left: 45px;
  }
  .section__box-title {
    font-size: 25px;
    line-height: 30px;
    color: #21BA27;
  }
  .section__box-text {
    font-size: 18px;
    line-height: 21px;
    padding-top: 40px;
  }
  .section__box-link {
    font-size: 18px;
    line-height: 21px;
    color: #21BA27;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.news_Amd{
  .page-title, 
  .section__box-title, 
  .section__box-link{
    color: #F60E0E;
  }
  .section__box-right{
    margin-left: 75px;
  }
}

.driversNvidia{
  .wrapper{
    padding-bottom: 50px;
    border-bottom: 1px solid #FFFFFF;
    max-width: 1200px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
  }
  .page-title{
    font-size: 57px;
    line-height: 67px;
    color: #FFFFFF;
    font-weight: 700;
    padding-bottom: 70px;
  }
  .section{
    margin-left: 350px;
    padding: 0 0 38px 24px;
    border-left: 1px solid #fff;
  }
  .section__auto {
    padding-bottom: 40px;
  }
  .title {
    font-size: 27px;
    line-height: 33px;
    color: #21BA27;
    font-weight: 400;
    text-align: left;
  }
  .section__auto-text {
    padding: 18px 0;
  }
  .section__auto-btn,
  .section__form-btn {
    width: 120px;
    img{
      width: 100%;
    }
  }
  .section__form {
  }
  .section__form-title {
    padding-left: 38px;
  }
  .section__form-text {
    padding: 15px 0 0 38px;
  }
  .section__form-box {
    padding: 42px 45px 42px 0;
  }
  .section__form-item {
    display: block;
    text-align: right;
    span{
      padding-right: 15px;
    }
    input{
      width: 542px;
      background: #C4C4C4;
      padding-left: 10px;
    }
  }
  .section__form-item + .section__form-item{
    margin-top: 30px;
  }
  .section__form-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .wrapper.question {
    padding-top: 50px;
    padding-bottom: 0;
    border: none;
    display: flex;
    .section{
      margin-left: 38px;
      padding-top: 20px;
      .section__title{
        padding: 45px 0 25px;
      }
      .section__text{
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
  .wrapper__note {
    width: 312px;
    min-width: 312px;
    padding-top: 135px;
  }
  .wrapper__note-text {
    padding-top: 25px;
  }
  .section__svg{
    width: 65px;
    height: 65px;
  }
}

.driversAmd{
  .section__title,
  .section__subtitle,
  .section__text {
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    text-align: left;
  }
  .section__title{
    font-weight: 400;
    padding: 0;
  }
  .section__subtitle {
    font-weight: 500;
    padding: 53px 0;
  }
  .section__text {
    font-weight: 300;
  }
  .section{
    padding-top: 53px;
  }
  .section-btn{
    width: 260px;
    margin-top: 85px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    img{
      width: 100%;
    }
  }
}

.companyNvidia{
  .section__box:nth-child(1){
    padding-bottom: 50px;
    .section__box-text{
      padding-right: 15px;
    }
  }
  .section__box-list{
    list-style: inside;
  }
  .page-title{
    padding: 25px 0 70px;
  }
  .section__item{
    width: max-content;
    max-width: 100%;
    height: unset;
    background: rgba(196, 196, 196, 0.15);
    padding: 25px 15px;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .section__item + .section__item{
    margin-top: 40px;
  }
}

.companyAmd{
  .page-image{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .page-title{
    padding: 85px 0 30px;
  }
  .section__box{
    padding: 90px 0;
    margin: 55px 0;
    border-top: 1px solid #FEFEFE;
    border-bottom: 1px solid #FEFEFE;
  }
  .section__box-text{
    font-size: 30px;
    line-height: 38px;
    padding-left: 35px;
    color: #A93131;
  }
  .section__text{ 
    line-height: 35px;
    span{
      padding-left: 20px;
    }
  }
}

.feedback{
  .form {
    padding: 75px 0 50px;
    width: max-content;
    text-align: right;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .section{
    border-bottom: 1px solid #fff;
  }
  .form__label {
    display: block;
    span{
      font-size: 25px;
      line-height: 30px;
      color: #21BA27;
      padding-right: 40px;
    }
    input{
      width: 420px;
      height: 45px;
      background: #C4C4C4;
      font-size: 30px;
      padding-left: 10px;
    }
    textarea{
      width: 420px;
      height: 170px;
      background: #C4C4C4;
      font-size: 30px;
      padding: 10px 0 0 10px;
    }
  }
  .form__label + .form__label{
    margin-top: 45px;
  }
  .form__btn {
    width: 200px;
    margin: 30px 115px 0 0;
  }

  .contacts {
    padding-top: 90px;
    border: none;
  }
  .contacts__title {
    font-size: 34px;
    line-height: 40px;
    color: #21BA27;
    padding-bottom: 32px;
  }
  .contacts__box {
    display: flex;
  }
  .contacts__item:nth-child(1) {
    padding-right: 50px;
    a{
      padding-left: 60px;
    }
  }
  .contacts__item-link+ .contacts__item-link{
    margin-top: 42px;
  }
  .contacts__item-link {
    font-size: 18px;
    line-height: 20px;
    position: relative;
    img{
      width: 42px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}

@import "media";
