@import "vars";
@import "libs";
@import "fonts";
@import "global";

.events {
  padding: 75px 0;
  background-color: #000;
}
.events__title {
  text-align: center;
  color: #fff;
}
.events__sebtitle {
  max-width: 732px;
  margin: 0 auto;
  color: #fff;
}
.events-inner {
  color: #fff;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  & + & {
    margin-top: 30px;
  }
  &:nth-child(3) {
    height: 730px;
    .events-box {
      width: 730px;
      height: 100%;
    }
    .tall {
      width: 350px;
      height: 100%;
    }
  }
  &:nth-child(4) {
    height: 540px;
    .events-box {
      width: 540px;
      height: 100%;
    }
    .low:nth-child(2) {
      transform: translateY(15px);
    }
    .tall {
      width: 540px;
      height: 100%;
    }
  }
  .events-box {
    height: 100%;
  }
  .tall {
    height: 100%;
  }
  .low {
    height: calc(50% - 15px);
  }
  .low:nth-child(1) {
    margin-bottom: 15px;
  }
}
.events-box {
  height: 730px;
}
.events__item {
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 50%;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  span {
    position: absolute;
    bottom: 30px;
    padding: 0 30px;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    font-weight: 700;
  }
}
.events__item-box {
  display: flex;
  .events__item {
    height: 100%;
    margin-top: 15px;
    &:nth-child(1) {
      margin-right: 15px;
    }
    &:nth-child(2) {
      margin-left: 15px;
    }
  }
}
.events__btn {
  background-color: #fff;
  margin-top: 45px;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  cursor: none;
  background-color: #000;
}
.cursor {
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 100%;
  position: absolute;
  z-index: 999;
  transition: transform 0.3s;
  &.active {
    transform: scale(1.3);
  }
}
.three-canvas {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

@import "media";
