<header class="header">
  <div class="container">
    <a href="../home/index.html" class="header__logo"><img src="images/logo.png"></img></a>
    <ul class="header__menu">
      <li class="scroll-btn" data-onScroll=".about">О нас</li>
      <li class="scroll-btn" data-onScroll=".portfolio">Портфолио</li>
      <li class="scroll-btn" data-onScroll=".events">Мероприятия</li>
      <li class="scroll-btn" data-onScroll=".services">Услуги</li>
      <li class="scroll-btn" data-onScroll=".window">Курсы</li>
      <li class="scroll-btn" data-onScroll=".map">Контакты</li>
    </ul>
  </div>
</header>