html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: #333;
  font-family: "Comfortaa", cursive;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  outline: none;
}

ul,
li,
button {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
}

.default-btn {
  text-align: center;
  width: 150px;
  padding: 10px 0;
  background-color: #000;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border-radius: 40px;
}
