@import "vars";
@import "libs";
@import "fonts";
@import "global";

body {
  background: url(../images/home-bg.jpg) no-repeat;
  background-size: contain;
  background-position: 50% 0;
  background-attachment: fixed;
  position: relative;
}

.mobile {
  display: none;
}

.header {
  transition: all 0.3s;
  position: fixed;
  width: 100%;
  z-index: 4;
  box-shadow: rgba(0, 0, 0, 0.25) 0 3px 11px 0 !important;
  &.scroll {
    transform: translateY(-43px);
    .header-box .header__logo {
      padding-right: 2.2%;
      img {
        width: 146px;
        height: 86.26px;
      }
    }
  }
}

.overheader {
  height: 43px;
  font-weight: 300;
  background-color: #333;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  a {
    color: #fff;
  }
}

.overheader-tel {
  span {
    padding-left: 5px;
  }
}

.overheader-social {
  svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  svg {
    fill: #fff;
  }
}

.header-box {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  // box-shadow: rgba(0, 0, 0, 0.5) 0 3px 11px 1px;
  box-shadow: #999797 0 3px 11px 0 !important;
  position: relative;
  z-index: 4;
  padding: 20px 40px 18px;
  align-items: center;
  font-weight: 400;
  transition: all 0.3s;
  .header__logo {
    width: 25%;
    margin-left: auto;
    padding-right: 1.5%;
    padding-top: 4px;
    img {
      transition: all 0.3s;
      width: 168px;
      height: 99px;
      float: right;
    }
  }
}

.header__phone {
  width: 16.66667%;
  padding-right: 8px;
  div {
    width: 30px;
    height: 27px;
    margin-left: auto;
  }
  svg {
    width: 30px;
    height: 27px;
    fill: #666;
  }
}

.header__burger {
  width: 16.66667%;
  padding: 0 7px 9px 15px;
  position: relative;
  z-index: 9;
  ul {
    float: right;
    padding: 13px;
    li {
      height: 2px;
      width: 22px;
      background-color: #666;
      transition: transform 0.3s ease-out, opacity 0.4s ease-out,
        -webkit-transform 0.3s ease-out;
    }
    li + li {
      margin-top: 4px;
    }
  }
  &.active {
    li {
      background-color: #fff;
    }
    li:first-child {
      transform: translateY(6px) rotate(45deg);
    }
    li:last-child {
      transform: translateY(-6px) rotate(-45deg);
    }
    li:nth-child(2) {
      opacity: 0;
    }
  }
}

.header__menu-bottom {
  font-family: "Muli Light";
  font-weight: 300;
  padding: 20px;
  .phone {
    margin-top: 10px;
  }
  .mail {
    margin-bottom: 30px;
  }
  a {
    line-height: 19.5px;
    color: #d6d6d6;
    font-size: 15px;
  }
  svg {
    width: 17px;
    fill: #fff !important;
    height: 24px;
    margin-bottom: 2px;
  }
  .header-menu__button-box {
    a {
      line-height: unset;
    }
    a:first-child svg {
      margin: 0 15px 2px 4px;
    }
    a:last-child svg {
      margin-left: 15px;
    }
  }
}
.header__menu-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header__menu {
  margin-bottom: 1px;
  font-size: 16px;
  width: 75%;
  svg {
    fill: #666;
  }
  .header__menu-item {
    padding: 0 15px;
    font-size: 16px;
    letter-spacing: 0.03em;
  }
  .header__menu-item a {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 100%;
      width: 0;
      height: 2px;
      left: 50%;
      opacity: 0;
      transition: all 0.2s;
      background-color: #333;
      transform: translate(-50%, 3px);
    }
    &:hover::before {
      width: 100%;
      opacity: 1;
    }
  }
  .select {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    background-color: #fff;
    width: 186px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    transform: translateY(-5px);
    &.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(5px);
    }
    a::before {
      display: none;
    }
    li {
      position: relative;
    }
    li li:hover a {
      color: #949494;
    }
    li:nth-child(2) ul {
      width: 263px;
    }
    li:nth-child(3) ul {
      width: 195px;
    }
    a {
      position: relative;
      padding: 16px 0 15px 15px;
      color: #000;
    }
    ul {
      width: 183px;
      position: absolute;
      left: 100%;
      visibility: hidden;
      opacity: 0;
      transition: transform 0.4s ease-out, opacity 0.1s ease-out;
      transition-property: transform, opacity;
      transition-duration: 0.4s, 0.1s;
      transition-timing-function: ease-out, ease-out;
      transition-delay: 0s, 0s;
      width: 100%;
      background-color: #fff;
      top: 0;
      transform: translateX(-10%);
      z-index: 5;
    }
    ul.active {
      visibility: visible;
      opacity: 1;
      transform: translateX(-3px);
    }
    svg {
      fill: #000;
    }
  }
}
.select-1__btn {
  cursor: pointer;
  &:hover {
    color: #949494 !important;
    svg {
      fill: #949494;
    }
  }
  svg {
    width: 8px;
    height: 10px;
    margin-left: 4px;
    transform: rotate(-90deg);
    transition: all 0.3s;
  }
  &.active svg {
    transform: rotate(90deg);
  }
}

.select__btn {
  cursor: pointer;
  padding-right: 21px;
  position: relative;
  &.active svg {
    transform: translateY(-50%) rotate(180deg);
  }
  svg {
    position: absolute;
    right: 1px;
    width: 9px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
  }
}

.emptiness {
  height: 1500px;
}

.about {
  background-color: #fff;
  padding: 127px 40px 110px;
  .container {
    max-width: 680px;
    margin: 0 auto;
  }
}
.about__img {
  img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
.about__title {
  text-align: center;
  font-size: 28px;
  margin: 74px 0 12px 11px;
  font-weight: 300;
  transform: translate3d(100vw, 0, 0);
  text-transform: uppercase;
  &.animate {
    animation: bounceInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
}
@keyframes bounceInRight {
  0%,
  100%,
  60%,
  75%,
  90% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(100vw, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    transform: none;
  }
}
.about__text {
  position: relative;
  padding-left: 40px;
  margin: 85px 0 125px;
  font-weight: 400;
  font-size: 20px;
  display: inline-block;
  color: #000;
  span {
    padding: 0 6px;
  }
  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 40px;
    background-color: #505050;
    left: 24px;
    top: 60%;
    transform: translateY(-50%);
  }
}

.portfolio {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  .portfolio__img {
    height: 676px;
    width: 50%;
    background: url(../images/home__portfolio.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.portfolio__box {
  padding: 80px 0px 49px 80px;
}
.portfolio__box-text {
  max-width: 350px;
  font-weight: 300;
  font-size: 20px;
  color: #000;
  line-height: 32px;
  padding-bottom: 65px;
}

.advantages {
  background-color: #fff;
  padding: 200px 0 30px;
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}
.advantages-box {
  display: flex;
  justify-content: space-between;
}
.advantages__item {
  max-width: 240px;
  font-weight: 300;
  font-size: 16px;
  padding: 0 10px;
  &:last-child {
    .advantages__item-text {
      line-height: 18px;
      margin-top: 18px;
    }
  }
  img {
    width: 70px;
    height: 70px;
  }
  .advantages__item-text {
    margin-top: 19px;
    color: #615f5f;
    line-height: 21px;
  }
}

.links {
  background-color: #fff;
}
.links-box {
  display: flex;
}
.links__item {
  width: 50%;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  padding: 100px 0;
  cursor: pointer;
  &:first-child {
    margin: 25px 25px 50px 50px;
  }
  &:last-child {
    margin: 25px 50px 50px 25px;
  }
  &:hover {
    .links__item-cube {
      border: 2px solid rgba(255, 255, 255, 1);
      span {
        opacity: 1;
        font-size: 40px;
      }
    }
  }
}
.links__item-cube {
  height: 319px;
  width: 319px;
  margin: 0 auto 10px;
  border: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.5s;
  span {
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
  }
}

.footer {
  background-color: #000;
  padding: 85px 10px;
  color: #d4d4d4;
  font-weight: 700;
  a {
    color: #d4d4d4;
  }
}
.footer-inner {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.footer__logo {
  width: 25%;
  padding-right: 1.5%;
  img {
    width: 88px;
    height: 85px;
    border: 1px solid #fff;
    margin-bottom: 13px;
  }
  span {
    font-size: 14px;
    position: relative;
    padding-left: 4px;
  }
}
.footer__box {
  padding-left: 5px;
  &:nth-child(2) {
    width: 33.3%;
    padding-right: 14px;
  }
  &:nth-child(3) {
    padding-right: 0.75%;
    width: 25%;
    .footer__box-text {
      margin-left: -5px;
    }
  }
}
.footer-social {
  width: 16.6%;
  padding-right: 14px;
  .footer__box-title {
    margin-bottom: 12px;
  }
  .footer__box-text {
    margin-left: -5px;
  }
}
.footer__box-title {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 14px;
  padding: 2px 0;
}
.footer__box-text {
  margin-bottom: 17px;
  font-size: 15px;
  margin-left: -1px;
  span {
    padding-left: 4px;
  }
  &:last-child {
    margin-bottom: 10px;
  }
}
.footer-social {
  margin: 0 !important;
  svg {
    fill: #fff;
    width: 28px;
    height: 42px;
    margin: 0 7px;
  }
}

@import "media";
