/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "SmallestPixel-7";

  src: url("./fonts/smallestpixel-7.woff") format("woff"), /* Modern Browsers */
    url("./fonts/smallestpixel-7.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}