@import "vars";
@import "libs";
@import "fonts";
@import "global";

.home {
  // min-height: 400px;
  // max-width: 1534px;
  min-height: 400px;
  position: relative;
  background: transparent;
}
.mont-bg {
  position: absolute;
  bottom: -10px;
  left: -17px;
  img {
    width: 100vw;
  }
}
.home__header {
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  line-height: 37px;
  height: 170px;
  align-items: center;
  font-family: "PFDinTextCompPro";
  position: relative;
}
.home__header-menu {
  display: flex;
  align-items: center;
}
.home__header-menu-icon {
  cursor: pointer;
  li {
    height: 10px;
    width: 47px;
    background-color: #fff;
    border-radius: 5px;
  }
  li + li {
    margin-top: 5px;
  }
}
.home-header__menu-text {
  margin-left: 18px;
  font-size: 44px;
  text-transform: uppercase;
}
.home__header-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home__header-phone {
  font-size: 43px;
  max-width: 280px;
  span {
    font-size: 22px;
    font-family: "Gilroy";
    padding-left: 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 9px;
      height: 9px;
      background-color: #2de314;
      border-radius: 10px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }
}

.home__content {
  font-family: "PFDinTextCompPro";
  text-transform: uppercase;
  padding: 180px 0 960px 80px;
}
.home__content-title {
  max-width: 775px;
  margin-bottom: 50px;
}
.home__content-subtitle {
  font-size: 116px;
  line-height: 120px;
}
.home__content-subtext {
  font-size: 37px;
  line-height: 37px;
  margin-left: 5px;
}
.home__content-btn {
  cursor: pointer;
  color: #444648;
  background-image: url(../images/btn-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 305px;
  height: 83px;
  position: relative;
}
.home-content__btn-text {
  font-size: 35px;
  line-height: 37px;
  padding: 15px 0 0 40px;
}
.home-content__btn-img {
  position: absolute;
  width: 121px;
  height: 25px;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
  img {
    width: inherit;
  }
}

.service {
  background-image: url(../images/service-bg.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  background-color: #fff;
}
.service__item {
  display: flex !important;
  position: static !important;
  align-items: center;
  & + .service__item {
    margin-top: 10px;
  }
}
.service__item-img {
  z-index: 4;
}
.img-adaptive {
  display: none;
}
.service__item-content {
  max-width: 525px;
  margin-left: 60px;
}
.service__item-title {
  font-family: "PFDinTextCompPro";
  color: #444648;
  font-size: 51px;
  line-height: 94px;
}
.service__item-text {
  color: #717578;
  font-size: 21px;
  line-height: 24px;
}

@import "media";
