@import "vars";
@import "libs";
@import "fonts";
@import "global";

.bg-item {
  position: absolute;
}
.bg-item-1 {
  top: 5%;
  left: 0;
  transform: translateX(-36%) rotate(25deg);
  z-index: -1;
}
.bg-item-2 {
  top: 42.2%;
  right: 0;
  transform: translateX(40%) rotate(-3deg);
  z-index: -1;
}

.header {
  position: fixed;
  z-index: 4;
  top: 0;
  height: 72px;
  width: 100%;
  background-color: #000;
  color: #fff;
  border-bottom: 1px solid #e5e9f2;
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  a {
    color: #fff;
  }
}
.header__logo {
  width: 160px;
}
.header__menu {
  li {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin-left: 62px;
    display: inline-block;
  }
}

.footer {
  background-color: #000;
  padding: 65px 0;
  color: #d9dbe1;
  a {
    color: #d9dbe1;
  }
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__copy {
  span {
    display: block;
  }
  span:nth-child(2) {
    font-weight: 400;
  }
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.footer__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  span {
    padding-right: 13px;
  }
  img {
    width: 85px;
    height: 13px;
  }
}
.footer__social {
}
.footer__social {
  a {
    width: 49px;
    height: 49px;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }
  svg {
    width: 26px;
    height: unset;
  }
  a:nth-child(2) svg {
    width: 14px;
  }
}

.main {
  padding-top: 172px;
}
.main__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 58px;
  text-align: center;
}
.main__content {
  max-width: 545px;
}
.main__content-title {
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
}
.main__content-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  padding-top: 20px;
}
.main__content-btn {
  width: 350px;
  height: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  border: none;
  background: #000000;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
.main__img {
  height: 422px;
  width: 422px;
  border-radius: 40px;
}
.main-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
}

.tasks {
  padding-top: 100px;
  .container {
    display: flex;
    justify-content: space-between;
  }
}
.tasks-box {
  &:nth-child(2) {
    margin: 0 30px;
  }
}
.tasks__item {
  max-width: 350px;
  padding: 40px 25px 30px;
  background: linear-gradient(90deg, #3d4e81 0%, #5753c9 48%, #6e7ff3 100%);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  & + & {
    margin-top: 30px;
  }
}
.tasks__item-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.25px;
}
.tasks__item-subtitle {
  padding: 3px 11px;
  font-weight: 600;
  font-size: 10px;
  line-height: 24px;
  letter-spacing: 0.25px;
  background: #000000;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  margin: 15px 0 20px;
}
.tasks__item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #fff;
}

.form {
  margin: 100px 0;
  .container {
    padding: 64px 95px 95px;
    border: 2px solid #000000;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
  }
}
.form-box {
  &:last-child {
    max-width: 350px;
  }
}
.form__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  max-width: 285px;
}
.form__price {
  font-size: 48px;
  line-height: 32px;
  font-weight: 700;
  margin: 163px 0 46px;
}
.form__discount {
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #c1c1c1;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    background: #c4c4c4;
    border-radius: 1px;
    width: 105%;
  }
}
.form-inner {
  margin: 60px 0 43px;
}
.form__input {
  display: block;
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: #000;
  height: 32px;
  width: 100%;
  border-bottom: 2px solid #000;
  &::placeholder {
    color: #000;
  }
  & + & {
    margin-top: 38px;
  }
}
.form__btn {
  width: 350px;
  height: 60px;
  color: #fff;
  background-color: #000;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

@import "media";
