@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNovaLight.ttf);
  font-weight: 300;
}

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNovaRegular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNovaBold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNovaBlack.ttf);
  font-weight: 900;
}
