html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Gilroy";
  font-weight: 700;
  color: #000;
  min-width: 320px;
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  outline: none;
}

ul,
li,
button {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.cubes-item {
  animation-name: cubesAnim;
  animation-duration: 6.5s;
  animation-iteration-count: infinite;
  position: absolute;
  z-index: 4;
}

.section-title {
  font-family: "GillSansNova";
  font-weight: 400;
  font-size: 53px;
  text-align: center;
  color: #4e4e4e;
}

.section-subtitle {
  font-family: "GillSansNova";
  font-weight: 400;
  text-align: center;
  color: #bbb;
  font-size: 21px;
  line-height: 19px;
}
