@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header-box {
  height: 100px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.09);
  align-items: center;
  padding: 0 30px;
  z-index: 1;
  position: relative;
}
.header__phone {
  display: flex;
  align-items: center;
}
.header__phone-num {
  margin-right: 30px;
  font-size: 27px;
}
.header__phone-btn {
  transition: all 0.5s;
  font-size: 18px;
  border: 2px solid #000;
  border-radius: 25px;
  font-weight: 700;
  width: 190px;
  height: 46px;
  background: transparent;
  cursor: pointer;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}
.header__logo {
  font-size: 30px;
}

.home {
  background: url(../images/dots-bg.png) no-repeat;
  background-position: left center;
  background-size: auto;
}
.home-box {
  position: relative;
  padding: 215px 0 0px 95px;
}
.home__title {
  font-size: 53px;
  line-height: 48px;
}
.home__titer {
  padding-top: 10px;
  font-size: 13px;
  color: #4e4e4e;
  span {
    font-size: 25px;
    color: #dadada;
  }
}
.home__subtitle {
  font-size: 29px;
  line-height: 32px;
  padding: 50px 0 25px;
}

.home__subtitle,
.home__title,
.home__titer {
  z-index: 1;
  position: relative;
  font-family: "GillSansNova";
  font-weight: 400;
  color: #4e4e4e;
}
.home__btn {
  height: 87px;
  width: 223px;
  position: relative;
  cursor: pointer;
  &:hover {
    .home__btn-bg {
      opacity: 0;
    }
    .home__btn-bg:nth-child(3) {
      opacity: 1;
    }
    .home__btn-text {
      color: #2861b2;
    }
  }
}
.home__btn-text {
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding-top: 3px;
  font-size: 24px;
  line-height: 66px;
  z-index: 1;
  position: relative;
  transition: all 0.5s;
}
.home__btn-bg {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  &:nth-child(3) {
    opacity: 0;
  }
}
.home__bg {
  position: absolute;
  right: -195px;
  top: 0;
}
.cubes-item--1 {
  top: -60px;
  left: 0;
  img {
    width: 139px;
  }
}
.cubes-item--2 {
  right: 320px;
  bottom: -80px;
  animation-duration: 8s;
}

@keyframes cubesAnim {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

.scroll {
  position: absolute;
  cursor: pointer;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scroll__content {
  position: relative;
  width: 100%;
}
.scroll__content-text {
  font-size: 29px;
  line-height: 32px;
  padding-bottom: 25px;
  color: #4e4e4e;
}
.scroll__content-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}

.services {
  background: url(../images/services-bg.jpg) no-repeat;
  background-position: top;
  background-size: cover;
  margin-top: 230px;
  padding: 80px 0 140px;
  position: relative;
  .section-subtitle {
    padding: 12px 0 75px;
  }
}
.services-dots {
  position: absolute;
  right: 0;
  bottom: -215px;
  z-index: 1;
}
.services-inner {
  position: relative;
}
.list__item {
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  margin-left: 30px;
  width: 470px;
  height: 100px;
  border: 2px solid transparent;
  display: flex !important;
  align-items: center;
  border-radius: 25px 0 0 25px;
  &.active {
    border: 2px solid #acacac;
  }
  & + .list__item {
    margin-top: 20px;
  }
}
.list__item-title {
  font-family: "GillSansNova";
  font-weight: 400;
  font-size: 23px;
  color: #4e4e4e;
}
.list__item-img {
  padding: 0 50px 0 30px;
}

.services__box {
  z-index: 4;
  position: absolute;
  right: 25px;
  top: -20px;
  width: 665px;
  height: 630px;
  background-color: #fff;
  border-radius: 20px;
}
.box__item {
  transition: all 0.5s;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: inherit;
  height: inherit;
  right: 0;
  top: 0;
  background-color: #fff;
  box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.16);
  border-radius: inherit;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}
.box-item_img,
.box-item__title,
.box-item__text,
.box-item__btn {
  position: absolute;
}
.box-item__img {
  width: inherit;
  picture {
    width: inherit;
    img {
      width: inherit;
      border-radius: 20px 20px 0 0;
    }
  }
}
.box-item__title {
  font-size: 34px;
  font-family: "GillSansNova";
  font-weight: 400;
  color: #4e4e4e;
  top: 295px;
  left: 16px;
  padding-left: 12px;
  padding-bottom: 8px;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 2px;
    background-color: #e9e9e9;
  }
}
.box-item__text {
  font-weight: 400;
  font-size: 16px;
  color: #a5a5a5;
  left: 16px;
  top: 350px;
  max-width: 525px;
  padding-left: 12px;
  line-height: 18px;
}
.box-item__btn {
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  font-size: 28px;
  color: #fff;
  font-family: "GillSansNova";
  font-weight: 400;
  background-color: #336fb9;
  border-radius: 0 0 20px 20px;
  width: inherit;
  text-align: center;
  padding: 12px 0;
}

.test {
  // background: url(../images/test-bg.jpg) no-repeat;
  // background-position: center;
  // background-size: cover;
  background: transparent;
  min-height: 400px;
  position: relative;
}
.test__popup {
  padding: 120px 0 45px 30px;
  display: flex;
  align-items: center;
}
.test__popup-btn {
  border-radius: 45px;
  cursor: pointer;
  position: relative;
  width: 480px;
  height: 337px;
  box-shadow: 0px 1px 40px 0px rgba(0, 0, 0, 0.29);
  &:hover {
    .test-popup__btn-text {
      color: #fff;
    }
    .test-popup__btn-bg {
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        opacity: 1;
      }
    }
  }
}

.test-popup__btn-text {
  color: #2274be;
  max-width: 400px;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.test-popup__btn-bg {
  width: inherit;
  transition: all 0.5s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  picture {
    width: inherit;
    img {
      width: inherit;
      border-radius: 40px;
    }
  }
  &:nth-child(2) {
    z-index: 1;
  }
  &:nth-child(3) {
    opacity: 0;
  }
}
.test__content {
  font-weight: 400;
  margin-left: 85px;
  max-width: 570px;
}
.test__title {
  font-family: "GillSansNova";
  font-size: 47px;
  line-height: 50px;
  color: #fff;
}
.test__subtitle {
  color: #d0d0d0;
  font-size: 20px;
  line-height: 62px;
}
.test__number {
  display: flex;
  align-items: center;
  padding: 0 0 130px 30px;
}
.test__number-send {
  border-radius: 45px;
  position: relative;
  width: 480px;
  height: 213px;
  background-image: url(../images/test-btn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.test-number__send-top,
.test-number__send-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.test-number__send-top {
  display: flex;
  top: 55px;
  align-items: center;
  font-weight: 400;
  font-size: 27px;
}
.test-number__send-text {
  width: 170px;
  color: #5e5e5e;
}
.test-number__send-input {
  input {
    outline: none;
    color: #b4b4b4;
    text-align: center;
    width: 240px;
    border: none;
    background: none;
    border-bottom: 2px solid #5e5e5e;
    &::placeholder {
      color: #b4b4b4;
    }
  }
}
.test-number__send-btn {
  background: transparent;
  font-weight: 700;
  transition: all 0.5s;
  cursor: pointer;
  color: #5e5e5e;
  font-size: 28px;
  bottom: 25px;
  width: 425px;
  height: 58px;
  border: 2px solid #5e5e5e;
  border-radius: 30px;
  &:hover {
    color: #2274be;
    border-color: #2274be;
  }
}

.cubes-item--3,
.cubes-item--5 {
  top: 80px;
  left: 70px;
  img {
    width: 248px;
  }
}
.cubes-item--4 {
  position: absolute;
  right: 180px;
  top: 150px;
  img {
    width: 187px;
  }
}

.slider {
  position: relative;
  padding: 60px 0 70px;
  background-image: url(../images/slider-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider__box {
  position: relative;
  height: 610px;
  margin: 60px 0 25px;
}
.slider__item {
  position: absolute;
  transition: all 0.5s;
  opacity: 0;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  visibility: hidden;
  img {
    border-radius: 40px;
  }
}
.slider__runner {
  position: relative;
  align-items: center;
  max-width: 920px;
  height: 54px;
  margin: 40px auto 0;
  background-image: url(../images/slider-runner.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.slider__runner-titles {
  font-weight: 400;
  font-size: 26px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  max-width: inherit;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 5px;
  z-index: 0;
  .slider__runner-title {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.5s;
    position: relative;
    padding-top: 10px;
    height: 52px;
    align-items: center;
    transition: all 0.5s;
    width: 230px;
    text-align: center;
    color: #e6e6e6;
    background: rgb(97, 97, 97);
    background: linear-gradient(
      180deg,
      rgba(97, 97, 97, 1) 0%,
      rgba(78, 78, 78, 1) 100%
    );
  }
}
.slider__runner-title:nth-child(1) {
  border-radius: 40px 0 0 40px;
}
.slider__runner-title:last-child {
  border-radius: 0 40px 40px 0;
}
.slider__runner-title + .slider__runner-title {
  border-left: 2px solid #7c7c7c;
}
.slider__runner-title.active {
  background: none;
  color: #4e4e4e;
}
.slider__item.active {
  opacity: 1;
  visibility: visible;
  .slider__item-dots {
    .slider__item-content {
      background-color: #fff;
      width: 145px;
      .slider__item-text {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
.slider__item-dots {
  position: absolute;
  width: 157px;
  &::before {
    content: "";
    width: 27px;
    height: 27px;
    background-color: #9bdbff;
    box-shadow: 0px 0px 30px 5px rgba(155, 219, 255, 1);
    border-radius: 50%;
    position: absolute;
    left: 0;
  }
}
.slider__item-content {
  transition: all 0.5s;
  position: absolute;
  left: 13px;
  width: 0;
  background-color: transparent;
  height: 27px;
}
.slider__item-circle,
.slider__item-text {
  transition: all 0.5s;
}
.slider__item-circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -7px;
  background-color: #336fb9;
  top: 50%;
  transform: translateY(-50%);
}
.slider__item-text {
  font-weight: 500;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 18px;
  font-size: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #336fb9;
  width: 110px;
}
.item--1,
.item--3 {
  .dots--1 {
    top: 150px;
    left: 285px;
  }
  .dots--2 {
    top: 70px;
    left: 645px;
  }
  .dots--3 {
    top: 330px;
    left: 360px;
  }
  .dots--4 {
    left: 580px;
    top: 360px;
  }
  .dots--5 {
    left: 300px;
    top: 540px;
  }
  .dots--4,
  .dots--5 {
    .slider__item-text {
      left: 30px;
    }
  }
}
.item--2,
.item--4 {
  .dots--1 {
    top: 250px;
    left: 280px;
  }
  .dots--2 {
    top: 15px;
    left: 565px;
  }
  .dots--3 {
    left: 375px;
    bottom: 180px;
  }
  .dots--4 {
    top: 365px;
    right: 10px;
  }
  .dots--5 {
    left: 530px;
    bottom: 135px;
  }
  .dots--6 {
    bottom: 56px;
    left: 490px;
  }
  .dots--4,
  .dots--5 {
    .slider__item-text {
      left: 30px;
    }
  }
}

.examples {
  background-image: url(../images/gray-bg.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  position: relative;
  padding-top: 220px;
  .section-subtitle {
    text-align: right;
    max-width: 320px;
    margin: 0 auto 35px;
    font-size: 16px;
  }
}
.examples-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  img {
    width: 100vw;
  }
}
.examples__box {
  position: relative;
  margin: 0 auto;
  max-width: 980px;
}
.examples__line {
  justify-content: space-between;
  display: flex;
  & + .examples__line {
    margin-top: 25px;
  }
}
.examples__remove {
  transform: rotate(0);
  transition: 0.5s;
  cursor: pointer;
  position: absolute;
  right: -70px;
  background-color: #b3dff8;
  border-radius: 40px;
  width: 65px;
  height: 65px;
  text-align: center;
  padding-top: 12px;
}
.examples__item {
  cursor: pointer;
  position: relative;
  height: 320px;
  width: 225px;
  background-color: #b3b3b3;
  border-radius: 40px;
  &.active {
    .examples-item__img-before {
      opacity: 0;
      visibility: hidden;
    }
    .examples__item-mg-after {
      opacity: 1;
      visibility: visible;
    }
  }
}
.examples-item__img-before,
.examples__item-mg-after {
  transition: 0.5s;
  position: absolute;
  width: inherit;
  picture {
    width: inherit;
    img {
      border-radius: 40px;
      width: inherit;
    }
  }
}
.examples__item-mg-after {
  opacity: 0;
  visibility: hidden;
}
.examples__text {
  font-weight: 400;
  font-family: "GillSansNova";
  margin-top: 60px;
  font-size: 24px;
  line-height: 29px;
  color: #ababab;
  max-width: 580px;
}
.examples-box {
  position: relative;
}
.examples_paralax-item {
  z-index: 4;
  position: absolute !important;
  &.paralax--1 {
    top: -10px;
    right: -50px;
  }
  &.paralax--2 {
    top: 440px;
    left: -70px;
    transform: rotate(-45deg) !important;
    img {
      width: 160px;
    }
  }
  &.paralax--3 {
    bottom: 150px;
    right: 250px;
    transform: scale(1, -1) rotate(-160deg) !important;
    img {
      width: 120px;
    }
  }
}

.video {
  background-image: url(../images/gray-bg.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  position: relative;
  padding: 70px 0 130px;
}
.video__title {
  text-align: center;
  font-family: "GillSansNova";
  font-weight: 400;
}
.video__content {
  margin: 25px 0 0 30px;
  display: flex;
  iframe {
    border-radius: 25px;
    margin-top: 30px;
  }
}
.video__content-right {
  margin: 0 30px;
  width: 350px;
}
.video__content-test {
  background-image: url(../images/video-testBorder--1.png);
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  height: 310px;
  width: 350px;
  padding-top: 60px;
  .video-content__text {
    padding-bottom: 30px;
    margin-left: 30px;
  }
}
.video-content__title {
  font-size: 27px;
  line-height: 33px;
  color: #4e4e4e;
  max-width: 280px;
}
.video-content__subtitle,
.video-content__text {
  max-width: 285px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #909090;
  padding-top: 8px;
}
.video-content__test-btn {
  cursor: pointer;
  padding: 17px 25px;
  background-color: #ff0000;
  border-radius: 25px;
  font-size: 17px;
  max-width: 150px;
  color: #fff;
}
.video-content__subtitle,
.video-content__title,
.video-content__test-btn {
  margin-left: 30px;
}
.video__content-popup {
  cursor: pointer;
  position: relative;
  height: 200px;
  padding-top: 65px;

  .video-content__title,
  .video-content__subtitle,
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .video-content__title,
  .video-content__subtitle {
    left: 0;
    width: 280px;
  }
  .video-content__title {
    top: 70px;
  }
  .video-content__subtitle {
    top: 100px;
  }
  .video-content__textHover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
    color: #216abe;
    opacity: 0;
    visibility: hidden;
    width: 220px;
  }
  .video-content__textHover,
  img,
  .video-content__title,
  .video-content__subtitle {
    transition: 0.3s;
  }
  img:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  &:hover {
    .video-content__textHover,
    img:nth-child(2) {
      opacity: 1;
      visibility: visible;
    }
    img:nth-child(1),
    .video-content__title,
    .video-content__subtitle {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.neon {
  background-color: #000;
  position: relative;
  padding: 400px 0 500px;
}
.neon-wave__top {
  position: absolute;
  top: 0;
  left: 0;
  img {
    position: relative;
    z-index: 4;
    width: 100vw;
    overflow: hidden;
  }
  svg {
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
    transform: scale(1, -1);
  }
}
.neon-wave__bottom {
  position: absolute;
  bottom: -5px;
  left: 0;
  img {
    position: relative;
    z-index: 4;
    width: 100vw;
    overflow: hidden;
    transform: scale(-1, -1);
  }
  svg {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    bottom: 5px;
  }
}

// Стили для волны
.parallax > use {
  animation: move-forever 12s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
  &:nth-child(2) {
    animation-delay: -2s;
    animation-duration: 5s;
  }
  &:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 3s;
  }
}
@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
.editorial {
  display: block;
  width: 100vw;
  height: 320px;
  max-height: 100vh;
  margin: 0;
}

.neon__title {
  color: #5aff34;
  font-size: 53px;
  text-align: center;
  font-family: "GillSansNova";
  padding-bottom: 50px;
  margin-top: 160px;
}
.neon-inner {
  display: flex;
}
.neon__box {
  width: 540px;
  margin-left: 30px;
}
.neon__item--1,
.neon__item--2 {
  cursor: pointer;
  width: 100%;
  height: 330px;
  border-radius: 40px;
  position: relative;
  img {
    transition: 0.4s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
  }
  &:hover {
    img {
      opacity: 1;
      visibility: visible;
    }
  }
}
.neon__item--1 {
  border-top: 5px solid #5aff34;
  border-right: 5px solid #5aff34;
  border-bottom: 5px solid #ff3434;
  border-left: 5px solid #ff3434;
}
.neon__item--2 {
  border-top: 5px solid #34fffd;
  border-right: 5px solid #34fffd;
  border-bottom: 5px solid #fd34ff;
  border-left: 5px solid #fd34ff;
}
.neon__item {
  cursor: pointer;
  padding-left: 40px;
  border-radius: 40px;
  position: relative;
  background: transparent;
  height: 700px;
  width: 100%;
  border: 5px solid #fff;
  z-index: 4;
  transition: all 0.3s;
  &:before {
    transition: 0.3s;
    content: "";
    z-index: 0;
    position: absolute;
    border-radius: 35px;
    top: 0;
    left: 0;
    width: inherit;
    height: 690px;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(255, 52, 52, 1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(255, 52, 52, 1);
    box-shadow: inset 0px 0px 10px 0px rgba(255, 52, 52, 1);
  }
  &:hover {
    &::before {
      opacity: 0;
    }
    color: #000 !important;
    .neon__item-text::before {
      background-color: #000 !important;
    }
    .neon__item-img {
      img:nth-child(1) {
        opacity: 0;
        visibility: hidden;
      }
      img:nth-child(2) {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
.neon__item.white {
  background-color: #fff !important;
  border-color: #fff !important;
  box-shadow: none !important;
}
.neon__item-title {
  font-size: 53px;
  line-height: 57px;
  max-width: 360px;
  margin: 35px 0 30px;
}
.neon__item-text {
  position: relative;
  max-width: 360px;
  padding-top: 50px;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    height: 5px;
    width: 315px;
    border-radius: 40px;
    background: #fff;
  }
}
.neon__item-img {
  position: absolute;
  bottom: 35px;
  width: 100px;
  height: 130px;
  img {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
    &:nth-child(2) {
      visibility: hidden;
      opacity: 0;
    }
  }
}
.neon__item.red {
  margin: 30px 0;
  border-color: #ff3434;
  color: #ff3434;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 52, 52, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 52, 52, 1);
  box-shadow: 0px 0px 10px 0px rgba(255, 52, 52, 1);
  .neon__item-text::before {
    background-color: #ff3434;
  }
  &:hover {
    background-color: #ff3434;
  }
}
.neon__item.violet {
  border-color: #fd34ff;
  color: #fd34ff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(253, 52, 255, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(253, 52, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(253, 52, 255, 1);
  &:before {
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(253, 52, 255, 1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(253, 52, 255, 1);
    box-shadow: inset 0px 0px 10px 0px rgba(253, 52, 255, 1);
  }
  .neon__item-text::before {
    background-color: #fd34ff;
  }
  &:hover {
    background-color: #fd34ff;
  }
}
.neon__item.green {
  border-color: #5aff34;
  color: #5aff34;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(90, 255, 52, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(90, 255, 52, 1);
  box-shadow: 0px 0px 10px 0px rgba(90, 255, 52, 1);
  &:before {
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(90, 255, 52, 1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(90, 255, 52, 1);
    box-shadow: inset 0px 0px 10px 0px rgba(90, 255, 52, 1);
  }
  .neon__item-text::before {
    background-color: #5aff34;
  }
  &:hover {
    background-color: #5aff34;
  }
}
.neon__item.blue {
  margin: 30px 0;
  border-color: #34fffd;
  color: #34fffd;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(52, 255, 253, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(52, 255, 253, 1);
  box-shadow: 0px 0px 10px 0px rgba(52, 255, 253, 1);
  &:before {
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(52, 255, 253, 1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(52, 255, 253, 1);
    box-shadow: inset 0px 0px 10px 0px rgba(52, 255, 253, 1);
  }
  .neon__item-text::before {
    background-color: #34fffd;
  }
  &:hover {
    background-color: #34fffd;
  }
}

.reviews {
  background-image: url(../images/gray-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 200px;
}
// .reviews__title {
//   text-align: center;
// }
.reviews-box {
  padding: 35px 0 120px;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  .phone {
    position: absolute;
    left: 0;
  }
}
.reviews__slider {
  position: relative;
  padding-top: 90px;
  .slick-current {
    .reviews__item {
      opacity: 1;
    }
  }
}
.slick-slide {
  outline: none;
}
.slider-arrows {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slider-arrows__left {
  left: -100px;
}
.slider-arrows__right {
  left: 400px;
}
.reviews__item {
  transition: 0.5s;
  opacity: 0.5;
  padding-left: 24px;
}
.reviews__btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 22px;
  color: #d7d7d7;
  text-transform: uppercase;
  width: 375px;
  height: 50px;
  border-radius: 40px;
  position: absolute;
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: 3px solid #d7d7d7;
}

.faq {
  background-image: url(../images/gray-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .container {
    position: relative;
  }
}
.faq-box {
  background-image: url(../images/faq-bg.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto;
  margin: 70px 0 0 30px;
  height: 850px;
}
.faq__item {
  cursor: pointer;
  font-family: "GillSansNova";
  font-weight: 400;
  border-bottom: 2px solid #d5d5d5;
  max-width: 635px;
  position: relative;
  transition: 0.5s;
  height: 55px;

  &::before,
  &::after {
    content: "";

    transition: 0.3s;
    position: absolute;
    top: 25px;
    right: 10px;

    display: block;
    width: 10px;
    height: 2px;

    transition: all 0.3s ease-out;

    background-color: #d5d5d5;

    transform: translate(-3px, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
  }
}
.faq__item.active {
  height: 235px;
  &::before {
    transform: translate(-3px, -50%) rotate(-45deg);
  }

  &::after {
    transform: translate(3px, -50%) rotate(45deg);
  }
  .faq__item-content {
    opacity: 1;
    visibility: visible;
  }
}
.faq__item-title,
.faq__item-content {
  padding-left: 15px;
}
.faq__item-title {
  width: 635px;
  height: 53px;
  padding-top: 15px;
  font-size: 24px;
  color: #4e4e4e;
  align-items: center;
}
.faq__item-content {
  position: absolute;
  top: 60px;
  height: 0;
  opacity: 0;
  visibility: hidden;
  height: 175px;

  transition: 0.5s;
  font-size: 18px;
  color: #8f8f8f;
}
.faq-question {
  position: absolute;
}
.question--1 {
  right: -245px;
  top: 35px;
}
.question--2 {
  top: 50%;
  transform: translateY(-50%) rotate(50deg);
  left: -160px;
  img {
    width: 80px;
  }
}
.question--3 {
  bottom: 70px;
  right: 110px;
  transform: rotate(20deg);
  img {
    width: 60px;
  }
}

.bell {
  background: transparent;
  min-height: 400px;
  position: relative;
  padding: 190px 0;
  .bell-bg {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.bell-inner {
  position: relative;
  padding-top: 45px;
  height: 665px;
  max-width: 1110px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 40px;
  font-family: "GillSansNova";
  font-weight: 400;
  text-align: center;
}
.bell__title {
  font-size: 50px;
  color: #4d4e4f;
  line-height: 47px;
}
.bell__subtitle {
  font-size: 25px;
  color: #4d4e4f;
  margin-bottom: 50px;
}
.bell__content {
  padding-top: 35px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 1015px;
    background-color: #e9e9e9;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.bell-content__title {
  font-size: 27px;
  color: #b9b9b9;
  padding-bottom: 13px;
}
.bell-content__input {
  font-size: 25px;
  input {
    transition: all 0.5s;
    text-align: center;
    outline: none;
    width: 675px;
    height: 65px;
    background-color: #f6f6f6;
    border-radius: 40px;
    border: 2px solid #f6f6f6;
    &.active {
      background-color: transparent;
    }
  }
}
.bell-content__phone {
  margin-top: 20px;
}
.bell__btn {
  margin-top: 50px;
  button {
    cursor: pointer;
    color: #462b0a;
    font-family: "Gilroy";
    font-weight: 900;
    font-size: 27px;
    width: 440px;
    height: 85px;
    border: none;
    border-radius: 40px;
    background-color: #ffd555;
    border-bottom: 5px solid #bd8a4d;
    -webkit-box-shadow: 0px 7px 14px 0px rgba(189, 138, 77, 0.69);
    -moz-box-shadow: 0px 7px 14px 0px rgba(189, 138, 77, 0.69);
    box-shadow: 0px 7px 14px 0px rgba(189, 138, 77, 0.69);
  }
}
.bell__signature {
  position: absolute;
  font-size: 20px;
  color: #d6d6d6;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.footer {
  background-color: #000;
  padding-bottom: 160px;
  position: relative;
}
.footer__signature {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
  }
}
.footer__signature-text {
  position: absolute;
  z-index: 4;
  bottom: 0;
  right: 45px;
  width: 320px;
  text-align: right;
}
.signature--1 {
  bottom: 53px;
}
.signature--2 {
  bottom: 10px;
}
.footer__logo {
  text-align: center;
  padding: 60px 0 80px;
  color: #fff;
  font-size: 30px;
}
.footer-box {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}
.footer__inner {
  width: 360px;
}
.footer__top {
  width: 100%;
  border-bottom: 2px solid #6a6b6c;
  padding-left: 15px;
}
.footer__top-test {
  cursor: pointer;
  margin-bottom: 15px;
}
.footer__top-phone {
  cursor: pointer;
  margin-bottom: 20px;
}
.footer__top-list {
  margin-left: 15px;
  li {
    cursor: pointer;
  }
  li:first-child {
    margin-top: 20px;
  }
  li + li {
    margin-top: 17px;
  }
}
.footer__top-bell {
  margin-bottom: 10px;
  a {
    color: #fff;
    span {
      font-weight: 400;
      display: block;
      font-size: 15px;
    }
    .number {
      padding: 5px 0;
      font-size: 29px;
      font-weight: 700;
    }
  }
}
.footer__top-social,
.footer__top-mail {
  padding-left: 15px;
}
.footer__top-social {
  padding-top: 35px;
}
.footer__top-mail {
  padding-top: 60px;
}

.phone-popup {
  display: none;
  position: relative;
  z-index: 10;
  &::before {
    content: "";
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 10;
  }
  .popup {
    position: fixed;
    top: 20%;
    left: 50%;
    padding: 20px;
    width: 400px;
    height: 360px;
    margin-left: -200px;
    background: #fff;
    border-radius: 4px;
    z-index: 11;
    opacity: 1;
  }
  .popup-close {
    transition: all 0.5s;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    // border: 2px solid #000;
    background-color: #000;
    &:hover {
      opacity: 1;
    }
    &:before,
    &:after {
      transition: all 0.5s;
      position: absolute;
      left: 22px;
      top: 5px;
      content: " ";
      height: 40px;
      width: 6px;
      background-color: #fff;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:hover {
      background-color: transparent;
      &:before,
      &:after {
        background-color: #000;
      }
      &:before {
        transform: rotate(-135deg);
      }
      &:after {
        transform: rotate(135deg);
      }
    }
  }
  .popup-name,
  .popup-tel {
    outline: none;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border-radius: 20px;
    width: 300px;
    height: 60px;
    text-align: center;
    border: 2px solid #000;
    color: #000;
    font-family: "GillSansNova";
    font-weight: 400;
    font-size: 20px;
    &::placeholder {
      color: #000;
      font-family: "GillSansNova";
      font-weight: 400;
    }
  }
  .popup-name {
    margin-top: 80px;
  }
  .popup-tel {
    margin: 10px 0 10px;
  }
  .popup-btn {
    outline: none;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 50px;
    color: #fff;
    font-size: 25px;
    font-family: "GillSansNova";
    font-weight: 400;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    border: 2px solid #000;
    &:hover {
      background: transparent;
      color: #000;
    }
  }
}

.test-popup {
  display: none;
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 50%;
  height: 870px;
  &::before {
    content: "";
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 10;
  }
  .popup {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1105px;
    height: inherit;
    background: #fff;
    border-radius: 40px;
    z-index: 11;
    opacity: 1;
  }
  .popup-close {
    z-index: 4;
    transition: all 0.5s;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 21px;
    height: 21px;
    &:before,
    &:after {
      border-radius: 5px;
      transition: all 0.5s;
      position: absolute;
      left: 10px;
      top: 0;
      content: " ";
      height: 21px;
      width: 3px;
      background-color: #dadada;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:hover {
      &:before,
      &:after {
        background-color: #b1b1b1;
      }
    }
  }
}

.popup-box {
  position: relative;
}
.popup-item {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.popup-item.active {
  opacity: 1;
  visibility: visible;
}
.popup-left {
  position: relative;
  width: 628px;
  height: 100%;
  border-right: 2px solid #dadada;
}
.popup-title {
  font-family: "GillSansNova";
  font-weight: 400;
  font-size: 50px;
  padding: 35px 0 35px 70px;
  border-bottom: 2px solid #dadada;
}
.popup-view {
  font-weight: 400;
  padding-bottom: 35px;
  border-bottom: 2px solid #dadada;
}
.popup-view__title {
  font-size: 19px;
  text-align: center;
  padding: 30px 0 20px;
  color: #4e4e4e;
}
.popup-view__inner {
  display: flex;
  justify-content: center;
}
.popup-view__btn {
  transition: 0.5s;
  cursor: pointer;
  padding-top: 9px;
  text-align: center;
  width: 180px;
  height: 37px;
  border-radius: 40px;
  border: 1px solid #4e4e4e;
  font-size: 16px;
  & + .popup-view__btn {
    margin-left: 15px;
  }
  &:hover {
    background-color: #4e4e4e;
    color: #fff;
  }
}
.popup-view__btn.active {
  background-color: #4e4e4e;
  color: #fff;
}
.popup-questions {
  padding: 40px 0 40px 70px;
  font-weight: 400;
  border-bottom: 2px solid #dadada;
}
.popup-question--1 {
  margin-bottom: 40px;
}
.popup-question__title {
  padding-bottom: 15px;
  color: #4e4e4e;
  font-size: 19px;
}
.popup-question__list {
  width: 220px;
  height: 37px;
}
.popup-extra {
  font-weight: 400;
  padding: 35px 0 0 70px;
  font-size: 19px;
}
.popup-extra__title {
  color: #4e4e4e;
  padding-bottom: 20px;
}
.popup-extra__check {
  align-items: center;
  display: flex;
  font-family: "GillSansNova";
  color: #acacac;
  & + .popup-extra__check {
    margin-top: 10px;
  }
  label {
    padding-left: 28px;
    position: relative;
  }
  label:before {
    border-radius: 3px;
    content: "";
    display: inline-block;

    width: 18px;
    height: 18px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
      0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 17px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
  }
}
.popup-left__btn {
  cursor: pointer;
  border-radius: 40px;
  text-align: center;
  color: #fff;
  width: 280px;
  height: 68px;
  padding-top: 25px;
  background-color: #ce0000;
  font-size: 19px;
  font-weight: 900;
  bottom: 33px;
  right: 68px;
  position: absolute;
}

.popup-right {
  position: relative;
  width: 480px;
  color: #4e4e4e;
}
.popup-sum {
  padding: 130px 0;
  text-align: center;
  font-size: 57px;
  font-weight: 900;
  border-bottom: 2px solid #dadada;
  span {
    font-weight: 700;
    font-size: 50px;
  }
}
.popup-bell {
  padding: 40px 0 0 53px;
}
.popup-bell__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 50px;
}
.popup-bell__form-text {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 13px;
}
.popup-bell__form-input {
  input {
    font-size: 18px;
    transition: 0.5s;
    text-align: center;
    outline: none;
    width: 350px;
    height: 45px;
    border-radius: 40px;
    border: 2px solid #dadada;
    background-color: #dadada;
  }
  input.active {
    background: transparent;
  }
}
.popup-bell__phone {
  margin-top: 30px;
}
.popup-bell__btn {
  border: none;
  border-bottom-right-radius: 43px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 110px;
  background-color: #dadada;
  font-weight: 900;
  font-size: 30px;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    background-color: transparent;
    color: #000;
  }
}

// Стили для выпадающего списка в тесте
.__select--1,
.__select--2,
.__select--3,
.__select--4,
.__select--5,
.__select--6 {
  position: relative;
  width: 220px;
  height: 37px;
  margin: 0 auto;

  &[data-state="active"] {
    .__select__title {
      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
      }

      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }

    .__select__content {
      opacity: 1;
    }

    .__select__label + .__select__input + .__select__label {
      max-height: 40px;
      border-top-width: 1px;
    }
  }
}
.__select__title {
  transition: 0.3s;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 16px;

  border-radius: 40px;
  border: solid 1px #4e4e4e;

  cursor: pointer;

  &::before,
  &::after {
    content: "";

    transition: 0.3s;
    position: absolute;
    top: 50%;
    right: 16px;

    display: block;
    width: 10px;
    height: 2px;

    transition: all 0.3s ease-out;

    background-color: #4e4e4e;

    transform: translate(-3px, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
  }

  &:hover {
    border-color: #949494;

    &::before,
    &::after {
      background-color: #949494;
    }
  }
}
.__select__content {
  position: absolute;
  top: 40px;
  left: 3px;

  display: flex;
  flex-direction: column;
  width: calc(100% - 6px);

  background-color: #ffffff;

  border: 1px solid #4e4e4e;
  border-top: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  transition: all 0.3s ease-out;

  opacity: 0;
  z-index: 8;
}
.__select__input {
  &:last-child {
    border-radius: 0 0 20px 20px;
  }
  transition: 0.3s;
  display: none;

  &:checked + label {
    background-color: #949494;
    color: #fff;
  }
  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}
.__select__label {
  &:last-child {
    border-radius: 0 0 20px 20px;
  }
  transition: 0.3s;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 16px;

  transition: all 0.2s ease-out;

  cursor: pointer;

  overflow: hidden;

  & + input + & {
    border-top: 0 solid #4e4e4e;
  }

  &:hover {
    background-color: #949494 !important;
    color: #ffffff;
  }
}

@import "media";
