@import "vars";
@import "libs";
@import "fonts";
@import "global";

.first-screen {
  height: 100vh;
  position: relative;
  margin-bottom: 100px;
}

.header-box {
  height: 100px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.09);
  align-items: center;
  padding: 0 30px;
  z-index: 1;
  position: relative;
}
.header__phone {
  display: flex;
  align-items: center;
}
.header__phone-num {
  margin-right: 30px;
  font-size: 27px;
}
.header__phone-btn {
  font-size: 18px;
  border: 2px solid #000;
  border-radius: 25px;
  padding: 12px 22px;
  cursor: pointer;
}

.home {
  background: url(../images/dots-bg.png) no-repeat;
  background-position: left center;
  background-size: auto;
}
.home-box {
  position: relative;
  padding: 215px 0 230px 95px;
}
.home__title {
  font-size: 53px;
  line-height: 48px;
}
.home__subtitle {
  font-size: 29px;
  line-height: 32px;
  padding: 30px 0 25px;
}

.home__subtitle,
.home__title {
  z-index: 1;
  position: relative;
  font-family: "GillSansNova";
  font-weight: 400;
  color: #4e4e4e;
}
.home__btn {
  height: 87px;
  width: 223px;
  position: relative;
  cursor: pointer;
  &:hover {
    .home__btn-bg {
      opacity: 0;
    }
    .home__btn-bg:nth-child(3) {
      opacity: 1;
    }
    .home__btn-text {
      color: #2861b2;
    }
  }
}
.home__btn-text {
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding-top: 3px;
  font-size: 24px;
  line-height: 66px;
  z-index: 1;
  position: relative;
  transition: all 0.5s;
}
.home__btn-bg {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  &:nth-child(3) {
    opacity: 0;
  }
}
.home__bg {
  position: absolute;
  right: -195px;
  top: 0;
}
.cubes-item--1 {
  top: -60px;
  left: 0;
  img {
    width: 139px;
  }
}
.cubes-item--2 {
  bottom: 140px;
  right: 357px;
  animation-duration: 8s;
}

@keyframes cubesAnim {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

.scroll {
  position: absolute;
  cursor: pointer;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scroll__content {
  position: relative;
  width: 160px;
}
.scroll__content-text {
  font-size: 29px;
  line-height: 32px;
  padding-bottom: 25px;
  color: #4e4e4e;
}
.scroll__content-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}

.services {
  background: url(../images/services-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 0 130px;
  position: relative;
}
.services-dots {
  position: absolute;
  right: 0;
  bottom: -215px;
  z-index: 1;
}
.services__box {
  position: relative;
}
.services__title {
  font-family: "GillSansNova";
  font-weight: 400;
  color: #4e4e4e;
}
.services__subtitle {
  font-size: 53px;
  line-height: 48px;
  padding-bottom: 12px;
}
.services__subtext {
  font-size: 21px;
  line-height: 19px;
  padding: 12px 0 75px 3px;
}
.services__item {
  position: relative;
  width: 230px;
  height: 220px;
  &:nth-child(3) {
    .services__item-content {
      margin-left: -400px;
    }
  }
}
.services__item-title {
  font-size: 23px;
  line-height: 21px;
  font-family: "GillSansNova";
  font-weight: 400;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 230px;
  text-align: center;
}
.services__item-img {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  &::before {
    transition: all 0.5s;
    border-radius: 25px;
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 1;
    top: 11px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 0px 0px rgba(0, 255, 252, 0.11);
  }
  &:hover {
    &::before {
      box-shadow: 0px 1px 16px 0px rgba(0, 255, 252, 0.11);
    }
  }
}
// .services__item-img.active {
//   &::before {
//     box-shadow: 0px 1px 16px 0px rgba(0, 255, 252, 0.11);
//   }
// & ~ .services__item-content {
//   display: block;
// }
// }
.services__item-content {
  z-index: 2;
  display: none;
  position: relative;
  height: 600px;
  width: 388px;
  background-color: #fff;
  margin-left: 250px;
  background-image: url(../images/item-content--1.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 40px;
  border: 3px solid #e9e9e9;
}
.services-item__content-box {
  position: absolute;
  top: 250px;
  width: 350px;
  left: 50%;
  transform: translateX(-50%);
}
.services-item__content-title {
  font-size: 34px;
  padding-left: 10px;
  font-family: "GillSansNova";
  font-weight: 400;
  color: #4e4e4e;
}
.services-item__content-text {
  color: #a5a5a5;
  padding-left: 10px;
  font-weight: 400;
  width: 350px;
  padding-top: 35px;
  position: relative;
  &::before {
    position: absolute;
    top: 18px;
    left: 0;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #e9e9e9;
  }
}
.services-item__content-btn {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  font-family: "GillSansNova";
  font-weight: 400;
  font-size: 26px;
  height: 53px;
  width: 382px;
  text-align: center;
  background-color: #336fb9;
  padding-top: 12px;
  color: #fff;
  border-radius: 0 0 40px 40px;
}
.services__box-top,
.services__box-bottom {
  display: flex;
  justify-content: space-between;
}
.services__box-bottom {
  max-width: 720px;
  margin: 120px auto 0;
  .services__item:nth-child(1),
  .services__item:nth-child(2) {
    .services__item-content {
      margin-top: -350px;
    }
  }
}

.test {
  background: transparent;
  min-height: 400px;
  position: relative;
}
.test__popup {
  padding: 120px 0 45px 30px;
  display: flex;
  align-items: center;
}
.test__popup-btn {
  border-radius: 45px;
  cursor: pointer;
  position: relative;
  width: 480px;
  height: 337px;
  box-shadow: 0px 1px 40px 0px rgba(0, 0, 0, 0.29);
  &:hover {
    .test-popup__btn-text {
      color: #fff;
    }
    .test-popup__btn-bg {
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        opacity: 1;
      }
    }
  }
}

.test-popup__btn-text {
  color: #2274be;
  max-width: 400px;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.test-popup__btn-bg {
  transition: all 0.5s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  img {
    border-radius: 40px;
  }
  &:nth-child(2) {
    z-index: 1;
  }
  &:nth-child(3) {
    opacity: 0;
  }
}
.test__content {
  font-weight: 400;
  margin-left: 135px;
  max-width: 530px;
}
.test__title {
  font-family: "GillSansNova";
  font-size: 47px;
  line-height: 50px;
  color: #fff;
}
.test__subtitle {
  color: #d0d0d0;
  font-size: 20px;
  line-height: 62px;
}
.test__number {
  display: flex;
  align-items: center;
  padding: 0 0 130px 30px;
}
.test__number-send {
  border-radius: 45px;
  position: relative;
  width: 480px;
  height: 213px;
  background-image: url(../images/test-btn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.test-number__send-top,
.test-number__send-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.test-number__send-top {
  display: flex;
  top: 55px;
  align-items: center;
  font-weight: 400;
  font-size: 27px;
}
.test-number__send-text {
  width: 170px;
  color: #5e5e5e;
}
.test-number__send-input {
  input {
    outline: none;
    color: #b4b4b4;
    text-align: center;
    width: 240px;
    border: none;
    background: none;
    border-bottom: 2px solid #5e5e5e;
  }
}
.test-number__send-btn {
  transition: all 0.5s;
  cursor: pointer;
  color: #5e5e5e;
  font-size: 28px;
  bottom: 25px;
  text-align: center;
  width: 425px;
  height: 58px;
  border: 2px solid #5e5e5e;
  align-items: center;
  padding-top: 10px;
  border-radius: 30px;
  &:hover {
    color: #2274be;
    border-color: #2274be;
  }
}

.cubes-item--3 {
  top: -150px;
  left: 125px;
  img {
    width: 248px;
  }
}
.cubes-item--4 {
  position: absolute;
  right: 180px;
  top: 150px;
  img {
    width: 187px;
  }
}

@import "media";
