@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  position: fixed;
  z-index: 4;
  top: 0;
  height: 72px;
  width: 100%;
  background-color: #000;
  color: #fff;
  border-bottom: 1px solid #e5e9f2;
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  a {
    color: #fff;
  }
}
.header__logo {
  width: 160px;
}
.header__menu {
  li {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin-left: 62px;
    display: inline-block;
  }
}

.main {
  background: url(../images/main-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 254px 0 185px;
}
.main__title {
  font-weight: 800;
  font-size: 96px;
  line-height: 98px;
  max-width: 1030px;
  margin: 0 auto;
}
.main__subtitle {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  max-width: 589px;
  margin: 0 auto;
  padding: 44px 0;
  font-weight: 400;
}
.main__btn {
  background-color: #fff;
}

.about {
  display: flex;
}
.about-box {
  color: #1f1f1f;
  padding: 75px 125px 75px 165px;
  width: 50%;
}
.about__title {
  letter-spacing: -3%;
}
.about__text {
  font-weight: 500;
  font-size: 21px;
  letter-spacing: -3%;
  max-width: 445px;
  line-height: 150%;
  margin: 10px 0 43px;
}
.about__btn {
  border: 2px solid #000000;
  color: #1f1f1f;
}
.about-box:last-child {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.portfolio {
  padding: 75px 0;
}
.portfolio__title {
  text-align: center;
}
.portfolio__subtitle {
}
.portfolio-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.portfolio__item {
}
.portfolio__item-img {
  width: 350px;
  height: 230px;
  border: 1px solid #000000;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.portfolio__item-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  padding: 6px 0;
  text-transform: uppercase;
}
.portfolio__item-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.portfolio__btn {
}

.events {
  padding: 75px 0;
  background-color: #000;
}
.events__title {
  text-align: center;
  color: #fff;
}
.events__sebtitle {
  max-width: 732px;
  margin: 0 auto;
  color: #fff;
}
.events-inner {
  color: #fff;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  & + & {
    margin-top: 30px;
  }
  &:nth-child(3) {
    height: 730px;
    .events-box {
      width: 730px;
      height: 100%;
    }
    .tall {
      width: 350px;
      height: 100%;
    }
  }
  &:nth-child(4) {
    height: 540px;
    .events-box {
      width: 540px;
      height: 100%;
    }
    .low:nth-child(2) {
      transform: translateY(15px);
    }
    .tall {
      width: 540px;
      height: 100%;
    }
  }
  .events-box {
    height: 100%;
  }
  .tall {
    height: 100%;
  }
  .low {
    height: calc(50% - 15px);
  }
  .low:nth-child(1) {
    margin-bottom: 15px;
  }
}
.events-box {
  height: 730px;
}
.events__item {
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 50%;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  span {
    position: absolute;
    bottom: 30px;
    padding: 0 30px;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    font-weight: 700;
  }
}
.events__item-box {
  display: flex;
  .events__item {
    height: 100%;
    margin-top: 15px;
    &:nth-child(1) {
      margin-right: 15px;
    }
    &:nth-child(2) {
      margin-left: 15px;
    }
  }
}
.events__btn {
  background-color: #fff;
  margin-top: 45px;
}

.services {
  padding: 75px 0;
}
.services__title {
  text-align: center;
}
.services__subtitle {
  text-align: center;
}
.services-inner {
  max-width: 1110px;
  margin: 0 auto;
}
.services-box {
  display: flex;
  justify-content: space-between;
  & + & {
    margin-top: 24px;
  }
}
.services__item {
  padding: 15px 25px;
  width: calc(33% - 15px);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  height: 195px;
  position: relative;
}
.services__item-title {
  padding: 8px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.services__item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.services__item-btn {
  position: absolute;
  bottom: 15px;
  left: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}
.services__btn {
  margin-top: 45px;
}

.window {
  padding: 100px 0;
  background-color: #000;
}
.window-box {
  padding: 70px 0 50px;
  max-width: 1110px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  border-radius: 50px;
}
.window__img {
}
.window__title {
  padding: 27px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
}
.window__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  max-width: 745px;
  margin: 0 auto;
}
.window__btn {
  font-size: 27.072px;
  line-height: 23px;
  color: #fff;
  width: 376px;
  height: 90px;
  margin-top: 37px;
  background: #000;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.map {
  background-image: url(../images/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 740px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
  a {
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
    position: absolute;
    bottom: 0;
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    img {
      margin-right: 14px;
    }
  }
}
.map__adress {
  width: 397px;
  border-radius: 0px 37px 0px 0px;
  left: 0;
}
.map__phone {
  width: 282px;
  border-radius: 37px 37px 0px 0px;
  left: 50%;
  transform: translateX(-50%);
}
.map__mail {
  width: 453px;
  border-radius: 37px 0 0 0;
  right: 0;
}

.form {
  padding: 150px 0;
  .container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}
.form__box {
  width: 50%;
  &:nth-child(1) {
    padding-right: 15px;
  }
  &:nth-child(2) {
    padding-left: 15px;
    padding: 40px 40px 75px;
    background-color: #000;
    border-radius: 25px;
  }
}
.form__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 111px;
}
.form__box-title {
  font-size: 36px;
  line-height: 49px;
  color: #fff;
  font-weight: 700;
  max-width: 284px;
  padding-bottom: 32px;
}
.form__box-input {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  padding: 0;
  margin: 0;
  outline: none;
  &::placeholder {
    color: #fff;
  }
  & + & {
    margin-top: 40px;
  }
}
.form__box-btn {
  margin-top: 106px;
  font-weight: 600;
  font-size: 24.2962px;
  line-height: 26px;
  width: 460px;
  height: 70px;
  position: relative;
  cursor: pointer;
  border: none;
  border-radius: 17px;
  span,
  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  span {
    left: 24px;
  }
  svg {
    right: 36px;
  }
}

.footer {
  background-color: #000;
  padding: 65px 0;
  color: #d9dbe1;
  a {
    color: #d9dbe1;
  }
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
  }
}
.footer-box {
  &:nth-child(2) {
    display: flex;
  }
}
.footer__logo {
  width: 105px;
}
.footer__copy {
  margin: 40px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  span {
    display: block;
  }
  span + span {
    margin-top: 8px;
  }
}
.footer__social {
}
.footer__link {
  width: 160px;
  &:nth-child(2) {
    margin: 0 30px;
  }
  li {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
  li + li {
    margin-top: 12px;
  }
}
.footer__title {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 24px;
}
.footer__sub {
  width: 255px;
}
.footer__sub-input {
  width: 255px;
  height: 40px;
  position: relative;
  input {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 12px;
    color: #d9dbe1;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    border-radius: 8px;
    outline: none;
    &::placeholder {
      color: #d9dbe1;
    }
  }
  svg {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

@import "media";
