@font-face {
  font-family: GilroyExtra;
  src: url(../fonts/Gilroy_ExtraBold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Storytella;
  src: url(../fonts/Storytella.otf);
}

@font-face {
  font-family: TimesNewRoman;
  src: url(../fonts/TimesNewRoman_Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: TimesNewRoman;
  src: url(../fonts/TimesNewRoman_Italic.ttf);
  font-weight: italic;
}
