body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin: 0;
  background-color: #7d67ce;
}

#content {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;

  overflow: hidden;

  border-radius: 3.85vh;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* border: .2222vh solid #333333; */
  background: #ffff76;
}

.line {
  position: absolute;
  width: 100%;
  height: 0.27vh;
  left: 0;
  background: #333333;
}

#content .bottomline {
  position: absolute;
  bottom: 0;
  height: 8.65%;
  width: 100%;
  left: 0;

  background: #333333;
}

#content .mainimg {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}
#content .starholder {
  position: absolute;
  height: 40.3%;
  top: 50%;
  margin: 0;
}

.starholder.left {
  left: 50%;
  transform: translate(-207.75%, -50%);
}

.starholder.right {
  right: 50%;
  transform: translate(207.75%, -50%);
}

#content .roundstar {
  transform: translate(-50%, -50%);
  height: 100%;
}

.roundstar.left {
  animation: rotationCW 12s infinite linear;
}

.roundstar.right {
  animation: rotationCCW 12s infinite linear;
}

@keyframes rotationCW {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotationCCW {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.side {
  z-index: 4;
  position: absolute;
  height: 100%;
  padding: 0;
}
.side.left {
  left: 0;
}
.side.right {
  right: 0;
  transform: rotate(180deg);
}

#inputbox {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 18.22%;
}

#inputbox img {
  height: 100%;
}
#inputbox input {
  position: absolute;
  top: 0;
  left: 15%;
  width: 70%;
  height: 33%;
  border-radius: 3vh;
  border-style: solid;
  border: 2px solid #333333;

  /* font-size: 1.5em; */
}

.bottomline-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 100%;
  height: 100%;
}
.bottomline-box:last-child .bottomline-item {
  text-align: center;
}
.bottomline-item {
  color: #faf5ff;
  font-size: 25px;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

input#contact {
  top: 7.58vh;
}

input {
  outline: none;
  text-align: center;
  color: #7d67ce;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

.eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(90deg);
  width: 30.8vh;

  transition: transform 0.5s ease-out;
}

.eye.open {
  transform: translate(-50%, -50%) rotateX(0deg) !important;

  cursor: pointer;
}
