@font-face {
  font-family: "SmallestPixel-7";

  src: url(../fonts/smallest_pixel-7.ttf) format("truetype"),
    url(../fonts/smallestpixel-7.woff) format("woff"),
    url(../fonts/smallestpixel-7.woff2) format("woff2");
  font-weight: 400;
}
