@import "vars";
@import "libs";
@import "fonts";
@import "global";

.home {
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
}
.home-box.left {
  margin: 200px 0 245px 75px;
}
.home__title {
  height: 63px;
  width: 392px;
  background: #faff00;
  font-weight: 900;
  font-style: italic;
  font-size: 36px;
}
.home__text-box {
  height: 260px;
  width: 625px;
  background: #ffffff;
  position: relative;
  .home__text:first-child {
    width: 583px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    span {
      font-weight: 700;
    }
  }
  .home__text:last-child {
    font-size: 29px;
    padding-top: 10px;
    line-height: 35px;
    font-weight: 500;
  }
  .home__text-human {
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 225px;
    transform: translateY(10px);
  }
}
.home__text-box,
.home__title {
  position: relative;
  span.text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.home__time {
  height: 130px;
  width: 325px;
}

.home-box.right {
  background: url(../images/gleb.png) no-repeat;
  background-size: contain;
  background-position: top right;
  width: 638px;
  height: calc(100% + 65px);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}
.home__fire {
  position: absolute;
  width: 193px;
  &:first-child {
    top: 160px;
    left: 27px;
  }
  &:nth-child(2) {
    top: 150px;
    left: 277px;
  }
}
.home__btn {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-60%);
  transition: all 0.3s;
  cursor: pointer;
  img {
    position: absolute;
    bottom: 72px;
    right: 0;
    width: 189px;
    height: 185px;
  }
  button {
    height: 129px;
    width: 447px;
    border: none;
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    color: #ffffff;
    background: #ff89bb;
    cursor: pointer;
  }
  &:hover {
    transform: translateX(-61%);
    animation: animBtn 0.3s infinite;
  }
}
@keyframes animBtn {
  0% {
    transform: translateX(-61%);
  }
  50% {
    transform: translateX(-59%);
  }
  100% {
    transform: translateX(-61%);
  }
}

.whom {
  background-color: #0038ff;
  padding: 70px 0 130px;
  position: relative;
}
.whom__title {
  color: #fff;
  margin-bottom: 180px;
  .small {
    font-size: 54px;
  }
  .pink {
    color: #ff89bb;
  }
}
.whom-box {
  width: 1300px;
  margin: 0 auto;
  .whom__item:nth-child(2),
  .whom__item:nth-child(4) {
    transform: translateY(-100px);
  }
  .whom__item {
    margin-left: -100px;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
      &:nth-child(2),
      &:nth-child(4) {
        transform: scale(1.1) translateY(-100px);
      }
    }
  }
  .whom__item:nth-child(1) {
    margin: 0;
  }
  .whom__item:nth-child(4) {
    margin-left: -20px;
  }
}
.whom__img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.whom__sign {
  background-color: #000;
  font-style: italic;
  font-weight: 900;
  font-size: 36px;
  display: inline-block;
  color: #fff;
  padding: 27px 48px 20px 41px;
  position: absolute;
  right: 70px;
  bottom: -20px;
  z-index: 5;
}
.whom__mysteri {
  position: absolute;
  top: -60px;
  left: -95px;
  width: 350px;
  height: 350px;
  transform: rotate(-20.3deg);
}

.skills {
  padding: 100px 0 170px;
  background-color: #faff00;
  position: relative;
  .container {
    max-width: 1170px;
    margin: 0 auto;
  }
}
.skills__cat {
  right: -65px;
  top: 60px;
  z-index: -1;
  position: absolute;
  transform: scale(-1, 1);
}
.skills__bottom {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 60px);
  position: absolute;
  width: 718px;
  height: 233px;
}
.skills__title {
  color: #ff89bb;
  line-height: 68px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  width: unset;
  text-align: unset;
  padding-bottom: 136px;
  left: 50%;
  transform: translateX(-50%);
  span {
    font-size: 66px;
    color: #0038ff;
  }
}
.skills-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #2d3436;
  &.skills-box--1 {
    .skills__item {
      margin-top: -10px;
    }
    .skills__item:first-child,
    .skills__item:nth-child(3) {
      padding-top: 15px;
      margin-top: 0;
    }
  }
  &.skills-box--2 {
    .skills__item:nth-child(2) {
      margin-top: -20px;
    }
    .skills__item:first-child {
      padding-top: 20px;
    }
    .skills__item:nth-child(3) {
      padding-top: 10px;
    }
  }
}
.skills__money {
  position: absolute;
  top: 0;
  transform: translateY(-80%);
  right: 105px;
  width: 310px;
}
.skills__subtitle {
  padding-bottom: 66px;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
}
.skills__item {
  max-width: 530px;
  height: 333px;
  margin-bottom: 33px;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-30%);
  transition: all 0.5s;
  &.animate {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
.skills__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  padding: 15px 0 27px;
}
.skills__item-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.25px;
}

.program {
  background-color: #ff89bb;
  padding: 80px 0 170px;
}
.program__title {
  color: #fff;
  padding-bottom: 100px;
}
.program-box {
  max-width: 1300px;
  height: 565px;
  margin: 0 auto;
  position: relative;
}
.program__center {
  position: absolute;
  bottom: -250px;
  left: 50%;
  transform: translate(-50%, 0);
  animation: programFlight 3s infinite;
  z-index: 5;
}
@keyframes programFlight {
  0% {
    transform: translate(-50%, -15px);
  }
  50% {
    transform: translate(-50%, 5px);
  }
  100% {
    transform: translate(-50%, -15px);
  }
}
.pogram__item {
  position: absolute;
  &.item--1 {
    bottom: 0;
    right: 0;
  }
  &.item--2 {
    right: 78px;
    bottom: 130px;
  }
  &.item--3 {
    right: 94px;
    top: 167px;
  }
  &.item--4 {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  &.item--5 {
    left: 72px;
    top: 180px;
  }
  &.item--6 {
    bottom: 78px;
    left: 0;
  }
}

.leading {
  padding-top: 80px;
  background-color: #131313;
}
.leading__title {
  color: #ff89bb;
}
.leading__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}
.leading-box {
  width: 1280px;
  height: 382px;
  margin: 155px auto 133px;
  position: relative;
}
.leading__item {
  position: absolute;
  z-index: 4;
  &:nth-child(1),
  &:nth-child(3),
  &:nth-child(5) {
    .leading__item-img {
      filter: drop-shadow(0px 0px 10px rgba(0, 140, 255, 1));
    }
    .leading__item-img polyline {
      stroke: #008cff;
    }
  }
  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(6) {
    .leading__item-img {
      filter: drop-shadow(0px 0px 10px rgba(255, 0, 49, 1));
    }
  }

  &:nth-child(1) {
    left: 0;
    top: 0;
  }
  &:nth-child(2) {
    left: 0;
    top: 125px;
  }
  &:nth-child(3) {
    left: 0;
    top: 223px;
    .leading__item-img {
      transform: translateY(-100%);
    }
  }
  &:nth-child(4) {
    right: 0;
    top: 0;
    .leading__item-text {
      padding-left: 20px;
    }
    .leading__item-img {
      right: 0;
    }
  }
  &:nth-child(5) {
    right: 0;
    top: 150px;
    .leading__item-text {
      padding-left: 20px;
    }
    .leading__item-img {
      right: 0;
    }
  }
  &:nth-child(6) {
    right: 0;
    top: 250px;
    .leading__item-text {
      padding-left: 20px;
    }
    .leading__item-img {
      right: 0;
      transform: translateY(-100%);
    }
  }
}
.typed-cursor {
  visibility: hidden;
}
.leading__item-img {
  width: 410px;
  position: absolute;
  top: 0;
}
.leading__item-text {
  padding-top: 10px;
  font-size: 29px;
  line-height: 25px;
  font-family: "SmallestPixel-7";
  font-weight: 400;
  max-width: 345px;
  color: #fff;
}
.leading__video {
  text-align: center;
  transform: translateY(25px);
}
.leading__video-tv {
  transform: translateY(50px);
  position: relative;
  img {
    pointer-events: none;
    position: relative;
    z-index: 3;
  }
  video {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-60%);
    z-index: 0;
    height: 740px;
    width: 1132px;
  }
  svg {
    pointer-events: none;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}

.prices {
  padding: 140px 0 30px;
}
.prices__title {
  height: 136px;
  width: 1174px;
  background-color: #ff89bb;
  color: #fff;
  letter-spacing: -1px;
  margin-bottom: 70px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: unset;
  span {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: inherit;
  }
}
.prices-box {
  max-width: 1255px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.prices__item {
  max-width: 370px;
  width: 100%;
  background: linear-gradient(0deg, #acc3e5, #acc3e5);
  border-radius: 27px;
  color: #fff;
  padding-bottom: 44px;
  transition: all 0.3s;
  position: relative;
  &:hover {
    transform: scale(1.1);
  }
}
.prices__item-sign {
  position: absolute;
  top: 32px;
  right: 32px;
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.prices__item-title {
  padding: 32px 0 42px 32px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 32px;
}
.prices__item-value {
  font-size: 64px;
  line-height: 56px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1px;
}
.prices__item-list {
  margin-left: 32px;
  margin-bottom: 35px;
  li {
    margin-top: 35px;
    padding-left: 48px;
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    max-width: 306px;
    &.opacity {
      opacity: 0.3;
    }
    &::before {
      content: "";

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 32px;
      height: 32px;
      background: url(../images/check.png) no-repeat;
      background-size: contain;
    }
  }
}
.prices__item-btn {
  border: 2px solid #ffffff;
  border-radius: 29px;
  width: 273px;
  height: 57px;
  color: #fff;
  background: none;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.25px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    background-color: #fff;
    color: #acc3e5;
  }
}
.prices__item:nth-child(2) {
  background: linear-gradient(180deg, #b06ab3 0%, #4568dc 100%);
  .prices__item-btn:hover {
    color: #6c5ce7;
  }
}
.prices__item:nth-child(3) {
  background: linear-gradient(180deg, #ee0979 0%, #ff6a00 52.6%, #ffbd12 100%);
  .prices__item-btn:hover {
    color: #ffb811;
  }
}

.footer {
  overflow: hidden;
  img {
    width: 151px;
    height: 165px;
  }
  img:nth-child(3) {
    width: 252px;
    height: 252px;
  }
}
.footer-box {
  transform: translateY(32px);
  max-width: 1035px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@import "media";
