@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  position: fixed;
  z-index: 4;
  top: 0;
  height: 72px;
  width: 100%;
  background-color: #000;
  color: #fff;
  border-bottom: 1px solid #e5e9f2;
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  a {
    color: #fff;
  }
}
.header__logo {
  width: 160px;
}
.header__menu {
  li {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin-left: 62px;
    display: inline-block;
  }
}

.footer {
  background-color: #000;
  padding: 65px 0;
  color: #d9dbe1;
  a {
    color: #d9dbe1;
  }
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
  }
}
.footer-box {
  &:nth-child(2) {
    display: flex;
  }
}
.footer__logo {
  width: 105px;
}
.footer__copy {
  margin: 40px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  span {
    display: block;
  }
  span + span {
    margin-top: 8px;
  }
}
.footer__social {
  width: 176px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__link {
  width: 160px;
  &:nth-child(2) {
    margin: 0 30px;
  }
  li {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
  li + li {
    margin-top: 12px;
  }
}
.footer__title {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 24px;
}
.footer__sub {
  width: 255px;
}
.footer__sub-input {
  width: 255px;
  height: 40px;
  position: relative;
  input {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 12px;
    color: #d9dbe1;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    border-radius: 8px;
    outline: none;
    &::placeholder {
      color: #d9dbe1;
    }
  }
  svg {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.main {
  padding-top: 150px;
}
.main__content {
  max-width: 545px;
}
.main__content-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
}
.main__content-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  padding: 20px 0 65px;
}
.main__content-btn {
  width: 350px;
  height: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  border: none;
  background: #000000;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
.main__img {
  height: 422px;
  width: 422px;
  border-radius: 40px;
}
.main-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:last-child {
    padding-top: 80px;
  }
}
.main__item {
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  svg {
    margin-right: 11px;
  }
}

.auditory {
  margin-top: 150px;
}
.auditory__title {
  padding-bottom: 85px;
  font-size: 36px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-align: center;
}
.auditory-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.auditory__item {
  max-width: 350px;
  text-align: center;
}
.auditory__item-img {
}
.auditory__item-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  padding: 24px 0 12px;
}
.auditory__item-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.skills {
  margin-top: 150px;
}
.skills__title {
  padding-bottom: 85px;
  font-size: 36px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-align: center;
}
.skills-inner {
  display: flex;
  width: 100%;
  justify-content: center;
  & + & {
    margin-top: 40px;
  }
}
.skills__item {
  max-width: 317px;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.25px;
  font-weight: 400;
  svg {
    display: block;
    margin-bottom: 13px;
  }
  & + & {
    margin-left: 80px;
  }
}

// .slider {
//   max-width: 950px;
//   padding: 0 15px;
//   margin: 0 auto;
// }
// .slider__for {
//   position: relative;
// }
// .slider__for-box {
//   width: 807px;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   margin-top: -30px;
//   .slick-slide {
//     width: 807px !important;
//   }
// }
// .slider__for-item {
//   text-align: center;
// }
// .slider-for__item-title {
//   font-weight: 600;
//   font-size: 24px;
//   line-height: 32px;
//   padding-bottom: 9px;
// }
// .slider-for__item-text {
//   font-weight: 500;
//   font-size: 18px;
//   line-height: 32px;
// }
// .slider__for-img {
// }
// .slider__nav {
//   max-width: 415px;
//   margin: 0 auto;
//   .slick-slide {
//     img,
//     .slider__nav-item,
//     .slick-slide {
//       width: 40px !important;
//       height: 40px !important;
//     }
//   }
//   .slick-track {
//     display: flex;
//     align-items: center;
//   }
//   .slick-slide.active {
//     width: 56px !important;
//     height: 56px !important;
//     img,
//     .slider__nav-item {
//       width: 56px !important;
//       height: 56px !important;
//     }
//   }
//   .slick-slide.slick-current {
//     width: 64px !important;
//     height: 64px !important;
//     .slider__nav-item,
//     img {
//       width: 64px;
//       height: 64px;
//     }
//     .slider-nav__item-title {
//       display: block;
//     }
//   }
// }
// .slider__nav-item {
//   text-align: center;
//   position: relative;
// }
// .slider-nav__item-title {
//   font-size: 12px;
//   line-height: 28px;
//   font-weight: 700;
//   position: absolute;
//   display: none;
//   bottom: 0;
//   left: 50%;
//   transform: translateX(-50%);
//   width: 100%;
// }

.form {
  margin: 150px 0;
  .container {
    padding: 64px 95px 80px;
    border: 2px solid #000000;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
  }
}
.form-box {
  &:last-child {
    max-width: 350px;
  }
}
.form__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  max-width: 285px;
}
.form__price {
  font-size: 48px;
  line-height: 32px;
  font-weight: 700;
  margin: 163px 0 46px;
}
.form__discount {
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #c1c1c1;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    background: #c4c4c4;
    border-radius: 1px;
    width: 105%;
  }
}
.form__subtitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
}
.form-inner {
  margin: 43px 0;
}
.form__input {
  display: block;
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: #000;
  height: 32px;
  width: 100%;
  border-bottom: 2px solid #000;
  &::placeholder {
    color: #000;
  }
  & + & {
    margin-top: 38px;
  }
}
.form__btn {
  width: 350px;
  height: 60px;
  color: #fff;
  background-color: #000;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

@import "media";
